<h1>Individual Patient Information</h1>
<div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="https://i.pinimg.com/originals/09/b0/08/09b008ceb45878eb34180d23506e4212.gif"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                
<p>First Name: {{patient.firstName}}</p>
<p>Last Name: {{patient.lastName}}</p>
<p>Age: {{patient.age}}</p>
<p>Medical Conditions: {{patient.conditions}}</p>
<p>Room Number: {{patient.roomNumber}}</p>
<p>Pet Species: {{patient.pet}}</p>
<p>Pet Name: {{patient.petName}}</p>
              </span>
            </div>
          </div>
        </div>
      </div>