<h1>
    THIS IS THE DRUG SHOW PAGE
</h1>
<p>{{drug.name}}</p>
<p>{{drug.strengthInMg}}</p>
<p>{{drug.routeTaken}}</p>

<p><a href="/drugs/{{drug._id}}/edit" class="waves-effect waves-light btn-large">Edit Drug</a></p>

{{!-- <p><a href="/drugs/{{drug._id}}/delete" class="waves-effect waves-light btn-large">Delete Drug</a></p> --}}
 
 
 
 <p><form action="/drugs/{{drug._id}}?_method=DELETE" method="POST">
      <button type="submit">DELETE THIS DRUG</button>
    </form>
    </p>


<form id="delete-drug" action="/drugs/{{drug._id}}?_method=DELETE" method="POST"></form>    